.Button {
  position: fixed;
  right: 96px;
  bottom: 24px;

  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--gray-color-400);
  border-radius: 50%;
  background-color: var(--light-color);
}
