.Tabs {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-left: -24px;
  margin-bottom: calc(56px - 24px);
  padding: 0;

  &__Item {
    width: 288px;
    height: 288px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;

    position: relative;

    border: 24px solid var(--primary-color-300);
    background: var(--dark-color-600);

    &__Image {
      position: absolute;
      top: 0;
      left: 0;
      width: 240px;
      height: 240px;
      mix-blend-mode: luminosity;
      opacity: 0.25;
      object-fit: cover;
    }

    &__Content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__Title {
      width: 240px;
      height: 30px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.125px;
      color: var(--primary-color-300);
    }

    &__Label {
      width: 160px;
      height: 24px;
      margin-top: 10px;
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      background-color: var(--primary-color-400);
      color: var(--light-color);
    }
  }
}

.BodyRecord {
  margin-bottom: 56px;
}

.Exercise {
  margin-bottom: 56px;
}

.Diary {
  margin-bottom: 56px;
}

.Button {
  width: 100%;
  display: flex;
  justify-content: center;
}
